.App {
  text-align: center;
}

.App-header {
  background-color: lightslategray;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  padding: 0px 0;
}

footer {
  background-color: #282c34;
  color: white;
  font-size: 16px;
  padding:15px;
  bottom: 0;
  width: 100%;
  clear: both;
  
}

nav {
  background-color: white;
  padding: 2px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 25px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: olive;
}

.animeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav a:hover {
  color: hotpink;
}

.red {
  color: red;
}

.leeDrops {
  /* opacity:0.45;
  -moz-opacity:0.45;
  filter:alpha(opacity=45); */
  background-image: url(https://data.whicdn.com/images/331884903/original.gif);
  /* background-repeat: no-repeat; */
  /* position:absolute; */
  /* height:48px;
  width:48px;
  z-index:10; */
height: 80vh;
background-size: cover; 
background-position: center;
object-fit: cover;
}
.profileB {
background-image: url(https://steamuserimages-a.akamaihd.net/ugc/781858274434559240/5A111FF68B6C3C22EBA7147BFD87232C12D2AAD3/);
height: 80vh;
background-size: cover; 
background-position: center;
object-fit:cover;
}
.loginB {
background-image: url(https://i.pinimg.com/originals/37/c1/2e/37c12ec385fb3db0aaea139bcaf81177.gif);
height: 80vh;
background-size: cover; 
background-position: center;
object-fit:cover;
}

.signupB {
  background-image: url(https://media2.giphy.com/media/3ohjV6G9UwkB190zbq/giphy.gif);
  height: 80vh;
  background-size: cover; 
  background-position: center;
  object-fit:cover;
  }

.soundCloud {
  background-position: bottom;
 
}

h2 {
  margin: 0;                
}